.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s alternate;
  height: 5vmin;
  text-align: right;
  padding: 15px;
  float: left;
}

.App-header {
  background-color: #956904;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-baniere {
  background-color: #a14202;
  max-height: 15vh;
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: #222269;
}

.App-imgPost {
  height: 40vmin;
  text-align: right;
  padding: 15px;
  float: left;

}

.App-MenuBaniere {
  float: left;
  text-align: right;
}